.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%; 

}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px; 
  width: 100%; 
}

.about-us, .services {
  display: flex;
  flex-direction: column;
}

.about-us {
  margin-left: 100px;
  margin-right: 60px;
}

.services {
  margin-left: 60px;
  margin-right: 100px;
}

.authors {
  text-align: center; 
  padding: 10px 0; 
}
