@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes appear-two {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes appear-warranty {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-up-text {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.landing-photo {
  display: block;
  margin: 0;
  align-items: center;
  height: auto;
  width: 100vw;
  filter: brightness(0.5);
  animation: fade-up 1s;
}

.landing-photo-container {
  position: relative;
  display: inline-block;
  margin-top: 104px;
  margin-left: 0;
  margin-right: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: transparent;
}

.text-title {
  font-size: 2em;
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.text-description {
  font-size: 1em;
  margin-top: 5px;
  line-height: 1.5;
}

.text-title,
.text-subtitle,
.text-description {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px 0;
  color: white;
  animation: fade-up-text 1s;
}

.application-form {
  background-image: linear-gradient(to right, #3d4656, #00adfc);
  font-weight: 600;
  border-radius: 25px;
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-up-text 1.5s;
}

.application-form:hover {
  text-decoration: underline;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
}

.description-one,
.description-two {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  /* border: solid; */
  width: 100%;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  gap: 0;
  padding-top: 20px;
}

.description-one {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.description-two {
  animation: appear-two linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.color-updown {
  height: 310px;
  width: 10px;
  background-image: linear-gradient(to top, #3d4656, #00adfc);
  margin-right: 10px;
}

.color-updown-two {
  background-image: linear-gradient(to top, #00adfc, #3d4656);
  height: 310px;
  width: 10px;
}

.description-one-container,
.description-two-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  width: 350px;
}

.description-one-container {
  padding-left: 20px;
}

.description-two-container {
  margin-top: 20px;
}

.description-text-one,
.description-text-two,
.description-text-three {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 300px;
  margin-bottom: 10px;
}

.desc-photo {
  margin-left: 76px;
  margin-right: 76px;
}

.google-reviews-desc {
  padding: 2px;
}

.google-reviews .slick-dots {
  display: none !important;
}

.google-reviews .css-2xmatf {
  max-width: 970px;
  padding: 0;
  padding-top: 20px;
}

.google-reviews .css-hzpebr,
.google-reviews .css-1en7e4i {
  display: none;
}
.description-text-three {
  font-weight: bold;
  font-size: 20px;
}

.warranty {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  max-width: 970px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  animation: appear-warranty linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.color-updown-warranty {
  height: 310px;
  width: 10px;
  background-image: linear-gradient(to top, #3d4656, #00adfc);
}

.color-updown-two-warranty {
  background-image: linear-gradient(to top, #00adfc, #3d4656);
  height: 310px;
  width: 10px;
}

.warranty-desc {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.warranty-text,
.warranty-title {
  margin-bottom: 10px;
}

.warranty-title {
  font-size: 24px;
  font-weight: bold;
}

.appllication-link {
  text-decoration: none;
}
