.landing-photo {
  display: block;  
  margin: 0; 
  align-items: center;
  height: auto;  
  width: 100vw;
}

.landing-photo-container {
  position: relative;
  display: inline-block;
  margin-top: 104px;
  margin-left: 0;
  margin-right: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%; 
  background-color: transparent;
}

.text-title {
  font-size: 2em;
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.text-description {
  font-size: 1em;
  margin-top: 5px;
  line-height: 1.5;
}

.text-title, .text-subtitle, .text-description {
  background-color: rgba(0, 0, 0, 0); 
  padding: 5px 10px; 
  border-radius: 4px; 
  display: inline-block; 
  margin: 5px 0; 
}

.application-form {
  background-image: linear-gradient(to right, #3D4656, #00ADFC);
  font-weight: 600;
  border-radius: 25px; 
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-form:hover {
  text-decoration: underline;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: center;
  max-width: 970px; /* Limit maximum width for smaller screens */
  margin: 0 auto; /* Center the div */
}

.description-one, .description-two {
  display: flex;
  flex: row;
  align-items: center; 
  justify-content: space-between;
  border: solid;
  width: 100%;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  gap: 0; 
}

.color-updown {
  height: 310px;
  width: 10px;
  background-image: linear-gradient(to top, #3D4656, #00ADFC);
  margin-right: 10px;
}

.color-updown-two {
  background-image: linear-gradient(to top, #00ADFC, #3D4656);
  height: 310px;
  width: 10px;
}

.description-one-container, .description-two-container{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  width: 350px;
}

.description-one-container{
  padding-left: 20px;
}

.description-two-container{
  margin-top: 20px;
}

.description-text-one, .description-text-two, .description-text-three {
  white-space: normal; /* Ensure text wraps within its container */
  word-wrap: break-word; /* Force long words to wrap if needed */
  overflow-wrap: break-word; /* Adds compatibility for long words */
  max-width: 300px;
  margin-bottom: 10px;
}

.desc-photo {
  margin-left: 76px;
  margin-right: 76px;
}

.google-reviews-desc {
  padding: 2px;
}

.google-reviews .slick-dots {
  display: none;
}