.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #f8f9fa; 
}

.logo-animation {
  animation: spinAndMove 1s ease-in-out forwards; 
  position: relative; 
}

@keyframes spinAndMove {
  0% {
    transform: rotate(0deg) translateY(0); 
  }
  50% {
    transform: rotate(180deg) ;
  }
  100% {
    transform: rotate(360deg) ; 
  }
}

.loading-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
