.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0; 
  background-color: #fff; 
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  padding: 0; 
  margin: 0; 
}
.form-group-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.form-group {
  flex: 1; 
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  height: 52px;
  
}

.navbar-links-list {
  margin-right: 20px; 
  text-decoration: none;
}

.navbar-links-list:hover {
  text-decoration: underline;
}
.navbar-link-contact {
  background-image: linear-gradient(to right, #3D4656, #00ADFC);
  padding: 6px 26px; 
  border-radius: 25px; 
  text-decoration: none;
  font-weight: 600;
}


.navbar-link-text {
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-left: 54px;
  margin-right: 54px;
}

.navbar-links .navbar-link-contact {
  color: white; 
  text-decoration: none;
}

.navbar-link-contact:hover {
  text-decoration: underline;
}

.logo {
  padding-bottom: 44px;
  z-index: 1001;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  position: relative;
}

.navbar-top::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 46%;
  height: 1px;
  background: linear-gradient(to right, #3D4656, 50%, #1F7AA9, #00cafc);

}

.navbar-top::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 47%;
  height: 1px;
  background: linear-gradient(to right, #00cafc, #1F7AA9, 50%, #3D4656);
}


.mappin-icon, .mail-icon, .phone-icon {
  margin-right: 6px;
}

.facebook-icon {
  margin-left: 6px;
}

.navbar-phone-number, .navbar-socials {
  display: flex;
  align-items: center;
}

.navbar-phone-number span, .navbar-socials span {
  display: flex;
  align-items: center; 
  font-weight: 600;
}

.phone-icon, .mappin-icon, .mail-icon, .facebook-icon {
  height: 24px;  
}

.phone-icon {
  margin-left: 20px;
}

.facebook-icon {
  margin-right: 20px;
}

.phone-number, .mail-adress {
  margin-left: 5px; 
  display: flex;
  align-items: center;
}

.navbar-phone-number span {
  font-family: "Just", serif;
  font-weight: 600; 
}


