html, body {
  margin: 0;  /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensure body takes full width */
}

* {
  background-color: white;
  font-family: "Raleway", serif
}

